tensorflow_datasets
pillow
dm-control
rlax==0.1.6
tensorflow~=2.13.0
jax==0.4.14
optax==0.1.7
gym[atari]~=0.25.0
absl-py
dm-launchpad[tensorflow,reverb] @ https://github.com/ethanluoyc/launchpad/releases/download/v0.6.0rc0/dm_launchpad-0.6.0rc0-cp39-cp39-manylinux2014_x86_64.whl
dm-sonnet
gymnasium[box2d]>=0.26.0
chex==0.1.7
typing-extensions
dm-env
pygame~=2.1.0
jaxlib==0.4.14
tensorflow_probability>=0.17.0,<0.22
numpy
bsuite
flax==0.7.4
dm-haiku==0.0.10
dm-tree
rlds
trfl
atari-py
